<ion-view view-title="Live Panel">
    <ion-content>
        <div class="card">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>General Thermostat</strong>
            </div>
            <div class="item item-text-wrap row">
                <div class="col col-50">
                    <circular-slider style="margin-left: 10px;"
                                     class='my-slider'
                                     shape='Half Circle'
                                     touch="true"
                                     animate='true'
                                     on-slide='onSlide'
                                     on-slide-end='onSlideEnd'
                                     min="-10"
                                     max="30"
                                     value="thermostat.temp"
                                     ng-click="promptTemp()">
                        {{value}}
                    </circular-slider>
                    <div style="height: 40px;"></div>
                </div>
                <div class="col col-50">
                    <div class="row">
                        <div class="col col-50">
                            <label>Band</label>

                            <h2 style="font-size: 20px;">+/- {{thermostat.band}}°</h2>
                        </div>
                        <div class="col col-50">
                            <label>Temp</label>

                            <h2 style="font-size: 20px;">{{temp.current}}°</h2>
                        </div>
                    </div>
                    <button class="button btn--s" ng-click="downValue()" ng-disabled="thermostat.band <= 1">
                        <i style="font-size: 3em">-</i>
                    </button>
                    <button class="button btn--s" ng-click="upValue()" ng-disabled="thermostat.band >= 5">
                        <i style="font-size: 3em">+</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="card" ng-repeat="record in records track by $index">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>{{record.zone.name}} </strong>
                <small>{{record.zone.table_name}}</small>
                <i class="i"></i>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="fs-subhead col col-33 text-center"
                         ng-class="{'tc-orange-300':(record.last_record.temperature>20),'tc-light-blue-100':(record.last_record.temperature<=20)}">
                        <i class="icon ion-thermometer"></i> {{record.last_record.temperature}}°
                    </div>
                    <div class="fs-subhead col col-33 text-center tc-light-blue-500"><i class="icon ion-waterdrop"></i>
                        {{record.last_record.humidity}}%
                    </div>
                    <div class="fs-subhead col col-33 text-center" ng-class="{'tc-red-500':(record.last_record.movement==1)}"><i
                            class="fs-title icon ion-ios-body"></i>
                    </div>
                </div>
                <div class="row">

                    <div class="fs-subhead col col-33 text-center p+">
                        <i class="fs-title icon"
                           ng-class="{'ion-android-sunny tc-orange-500':(record.last_record.light==1), 'ion-ios-moon':(record.last_record.light==0)}"></i>
                    </div>
                    <div class="fs-subhead col col-33 text-center">
                        <button ng-click="switchButton(record)" ng-disabled="!load" class="button btn--s"
                                ng-class="{'button-energized':(record.last_record.current==1)}">
                            <i class="fs-title ion-lightbulb" ng-class="{'ion-load-a':!load}"></i>
                        </button>
                    </div>
                    <div class="fs-subhead col col-33 text-center">
                        <button ng-click="unlock(record.zone.table_name)" ng-disabled="!automatico2" class="button button-stable btn--s">
                            <i class="fs-title ion-android-unlock" ng-class="{'ion-load-a':!automatico2}"></i>
                        </button>
                    </div>
                </div>
                <!--<div class="row">
                    <a href="" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i>
                    </a>
                </div>-->
            </div>
            <div class="item item-divider">
                <small style="text-align: right">Last Connection: {{record.last_record.date_time}}</small>
            </div>
        </div>

        <div class="card" ng-if="create">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>Create Panel</strong>
            </div>
            <label class="item item-input">
                <input type="text" ng-model="formRoom.name" placeholder="Room Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="formRoom.ip" placeholder="Ip">
            </label>
            <button ng-click="createPanel()" class="button button-full button-positive">
                Create Panel
            </button>
            <button ng-click="closeCreate()" class="button button-full button-assertive">
                Cancel
            </button>
        </div>
        <button ng-if="!create" ng-click="openCreate()" class="button button-full button-outline button-positive">
            <i class="ion-ios-plus-outline"></i> Add Room Panel
        </button>
        <div class="spacebar"></div>
    </ion-content>
</ion-view>
