<ion-view view-title="Live Panel">
    <ion-content>
        <div class="card">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>General Thermostat</strong>
            </div>
            <div class="item">
                <div class="row" style="margin-left: 1vw">
                    <div class="col-xs-8 text-center" style="background: #000000; color: white; font-family: digital-text;">
                        <span style="font-size: 13vh;" ng-class="{'tc-blue-200':(thermostat.temp < 10),'tc-blue-A700':(thermostat.temp < 20),'tc-green-500':(thermostat.temp >= 20),'tc-yellow-A200':(thermostat.temp >= 25),'tc-deep-orange-A400':(thermostat.temp >= 30)}">{{thermostat.temp}}°</span><br>
                        <span style="font-size: 4vh;">Now {{temp.current}}°</span>
                    </div>
                    <div class="col-xs-4">
                        <button ng-disabled="!load" class="button button-full button-stable" ng-click="upTemp()">
                           <i class="ion-chevron-up"></i>
                        </button>
                        <button ng-disabled="!load" class="button button-full button-stable" ng-click="downTemp()">
                            <i class="ion-chevron-down"></i>
                        </button>
                        <button ng-disabled="!load" class="button button-full button-stable" ng-click="promptTemp()">
                            Manual
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px; margin-left: 1vw">
                    <label>Band (+/-)</label>
                    <lx-radio-group>
                        <lx-radio-button style="float: left; margin-left: 5px" name="test1" value="1" ng-model="thermostat.band">1</lx-radio-button>
                        <lx-radio-button style="float: left; margin-left: 5px" name="test1" value="2" ng-model="thermostat.band">2</lx-radio-button>
                        <lx-radio-button style="float: left; margin-left: 5px" name="test1" value="3" ng-model="thermostat.band">3</lx-radio-button>
                        <lx-radio-button style="float: left; margin-left: 5px" name="test1" value="4" ng-model="thermostat.band">4</lx-radio-button>
                        <lx-radio-button style="float: left; margin-left: 5px" name="test1" value="5" ng-model="thermostat.band">5</lx-radio-button>
                    </lx-radio-group>
                </div>
            </div>
        </div>

        <div class="card" ng-repeat="record in records track by $index">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>{{record.zone.name}} </strong>
                <small>{{record.zone.table_name}}</small>
                <i class="i"></i>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="fs-subhead col col-33 text-center"
                         ng-class="{'tc-orange-300':(record.last_record.temperature>20),'tc-light-blue-100':(record.last_record.temperature<=20)}">
                        <i class="icon ion-thermometer"></i> {{record.last_record.temperature}}°
                    </div>
                    <div class="fs-subhead col col-33 text-center tc-light-blue-500"><i class="icon ion-waterdrop"></i>
                        {{record.last_record.humidity}}%
                    </div>
                    <div class="fs-subhead col col-33 text-center" ng-class="{'tc-red-500':(record.last_record.movement==1)}"><i
                            class="fs-title icon ion-ios-body"></i>
                    </div>
                </div>
                <div class="row">

                    <div class="fs-subhead col col-33 text-center p+">
                        <i class="fs-title icon"
                           ng-class="{'ion-android-sunny tc-orange-500':(record.last_record.light==1), 'ion-ios-moon':(record.last_record.light==0)}"></i>
                    </div>
                    <div class="fs-subhead col col-33 text-center">
                        <button ng-click="switchButton(record)" ng-disabled="!load" class="button btn--s"
                                ng-class="{'button-energized':(record.last_record.current==1)}">
                            <i class="fs-title ion-lightbulb" ng-class="{'ion-load-a':!load}"></i>
                        </button>
                    </div>
                    <div class="fs-subhead col col-33 text-center">
                        <button ng-click="unlock(record.zone.table_name)" ng-disabled="!automatico2" class="button button-stable btn--s">
                            <i class="fs-title ion-android-unlock" ng-class="{'ion-load-a':!automatico2}"></i>
                        </button>
                    </div>
                </div>
                <!--<div class="row">
                    <a href="" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i>
                    </a>
                </div>-->
            </div>
            <div class="item item-divider">
                <small style="text-align: right">Last Connection: {{record.last_record.date_time}}</small>
            </div>
        </div>

        <div class="card" ng-if="create">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>Create Panel</strong>
            </div>
            <label class="item item-input">
                <input type="text" ng-model="formRoom.name" placeholder="Room Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="formRoom.ip" placeholder="Ip">
            </label>
            <button ng-click="createPanel()" class="button button-full button-positive">
                Create Panel
            </button>
            <button ng-click="closeCreate()" class="button button-full button-assertive">
                Cancel
            </button>
        </div>
        <button ng-if="!create" ng-click="openCreate()" class="button button-full button-outline button-positive">
            <i class="ion-ios-plus-outline"></i> Add Room Panel
        </button>
        <div class="spacebar"></div>
    </ion-content>
</ion-view>
