/* Empty. Add your own CSS if you like */

html {
    font-size: 1em;
}

@font-face {
    font-family: "digital-text";
    src: url("../fonts/DS-DIGI.TTF") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.scroll-content {
    margin-top: -45px;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
}

.acs{
    border-color: #4B828C;
}

.acs-indicator {
    width: 25px;
    height: 25px;
    background-color: #9B4AD0;
    border: 1px solid #b1b1b1;
}

.acs-value {
    background-color: #000000;
}

.big-number {
    height: 70px;
    font-size: 40px;
}

.spacebar{
    height: 40px;
}