<ion-view view-title="Live Panel">
    <ion-content>
        <div class="card">
            <div class="item item-divider tabs-background-dark tabs-color-light">
                <strong>Room 101 </strong>
                <small>192.168.1.1</small>
                <i class="i"></i>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="fs-subhead col col-33 text-center"
                         ng-class="{'tc-orange-300':(resultado.temperature>20),'tc-light-blue-100':(resultado.temperature<=20)}">
                        <i class="icon ion-thermometer"></i> {{resultado.temperature}}°
                    </div>
                    <div class="fs-subhead col col-33 text-center tc-light-blue-500"><i class="icon ion-waterdrop"></i>
                        {{resultado.humidity}}%
                    </div>
                    <div class="fs-subhead col col-33 text-center" ng-class="{'tc-red-500':(resultado.movement==1)}"><i
                            class="fs-title icon ion-ios-body"></i>
                    </div>
                </div>
                <div class="row">

                    <div class="fs-subhead col col-33 text-center p+">
                        <i class="fs-title icon"
                           ng-class="{'ion-android-sunny tc-orange-500':(resultado.light==1), 'ion-ios-moon':(resultado.light==0)}"></i>
                    </div>
                    <div class="fs-subhead col col-33 text-center">
                        <button ng-click="switchButton()" ng-disabled="!automatico" class="button btn--s"
                                ng-class="{'button-energized':(resultado.current==1)}">
                            <i class="fs-title ion-lightbulb" ng-class="{'ion-load-a':!automatico}"></i>
                        </button>
                    </div>
                    <div class="fs-subhead col col-33 text-center">
                        <button ng-click="unlock()" ng-disabled="!automatico2" class="button button-stable btn--s">
                            <i class="fs-title ion-android-unlock" ng-class="{'ion-load-a':!automatico2}"></i>
                        </button>
                    </div>
                </div>
                <!--<div class="row">
                    <a href="" class="item item-icon-left">
                        <i class="icon ion-videocamera"></i>
                    </a>
                </div>-->
            </div>
            <div class="item item-divider">
                <small style="text-align: right">Last Connection: {{resultado.date_time}}</small>
            </div>
        </div>
    </ion-content>
</ion-view>
